article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
  display: block; 
}
html {
  background-color: #CCC;
}
h1 {
  text-align: left;
}
p {
  text-align: left;
}
canvas {
  display: block;
  margin: 0 auto;
  position: fixed;
  right: 5px;
  background-color: #666;
}
